@import "../../scss/style.scss";

$color: #fff;

.picture {
    position: relative;
    overflow: hidden;

    &__button-overlay {
        transition: all 0.4s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:hover {

        .button,
        .bibrush {
            opacity: 1;
        }

        .svg-picture {
            $hover-scale: 1.2;

            @include svg-scale(map-get($picture-widths, desktop), #{$hover-scale});

            @each $display,
            $value in $screen-widths {
                @media (max-width: map-get($screen-widths, $display)) {
                    @include svg-scale(map-get($picture-widths, $display), #{$hover-scale});
                }
            }
        }

        box-shadow: 0 0 0.7vw $color;
    }

    .svg-picture {
        transition: all 0.4s linear;

        @include svg-scale(map-get($picture-widths, desktop));

        @each $display,
        $value in $screen-widths {
            @media (max-width: map-get($screen-widths, $display)) {
                @include svg-scale(map-get($picture-widths, $display));
            }
        }
    }
}

.button {
    border: none;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.bi-brush {
    color: $color;
    font-size: 2.5rem;
}